host:           "yourhost.com"
user:           "username"
local_path:     "/Users/username/Desktop"
remote_path:    "/host/path/to/files"
url:            "http://yourhost.com/files"
sound:          "sound/notify.m4r"
play_sound:     true
remove_source:  true